<br>

<br><br>
<img style="float:left;" src="https://i.imgur.com/EOXsVPW.gif" alt = "trollface">
<h1 class="games">Meme Games</h1>

<img style="float:right;" src="https://i.imgur.com/EOXsVPW.gif" alt = "trollface">
<br><br><br>
<div class="search">
  <input type="text" class="search-box" placeholder="Search" value="" />
  <input type="submit" value="" class="search-btn" onClick="getGame()" name = "search"/>
</div>
<h3 style="text-align:center; color: white;">Search for a game or play the most recently added</h3>
<span class="span">Most Recent</span>
<div class="game">
  <object width="650" height="500" data={{game}} alt = "game"></object>
  <!-- <object width="650" height="500" data="https://f3.silvergames.com/trollface-quest-silvergames.swf"></object> -->
</div>
<div class="wrap">
  <a href= "/singlePage" class="upbutton"><strong>Upload your own game</strong></a>
</div>
