<div class="enjoy-css" onclick="direct();">🡸HOMEPAGE</div>
<link async href="http://fonts.googleapis.com/css?family=Acme" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>

<div class="form">
  <h3>Upload your own game</h3>
  <form class="login-form" method="POST" action="/addGame">
    <label><input class="gname" name="name" placeholder="Game name" required/></label>
    <label><input class="gurl" name = "url" placeholder="URL"
    pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" required  /></label>
    <div class="wrap"><br>
      <label><button type="submit" name="submit" class = "punch" name = "upload">Upload</button></label>
    </div>
    <div class="error" style="color:red;"></div>
  </form>
</div>
